/shared
/.vagrant
/index.php
/sql-dump-*.sql
/db-sync
.DS_Store
.idea
/.wp-cli
/extensions
/phpmyadmin
/local-config-extensions.php
/content/debug.log
vendor/
/content/uploads/
/content/plugins/query-monitor
/content/db.php
